/*table btn*/

.el-table .el-table__body .fa {
    color: #20a0ff;
    font-size: 16px
}

.el-table .el-table__body .fa:hover {
    opacity: .8;
}

.el-table .el-table__body .fa-pencil-square-o {
    color: #20a0ff;
}

.el-table .el-table__body .el-icon-delete {
    color: #ff4949;
    font-size: 16px
}


/*分页*/

.el-pagination {
    white-space: nowrap;
    padding: 2px 0px;
    color: #48576a
}


/*下拉复选*/

.el-select__tags-text {
    display: inline-block;
    width: 65px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*************************************主页上中下布局************************************************/

.jp-sc-app-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
}

.jp-app-container {
    /*position: relative;*/
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.jp-home-header {
    position: absolute;
    top: 0px;
    height: 60px;
    width: 100%;
    background-color: #f5f7fa;
    box-sizing: border-box;
}

.jp-home-body {
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 100%;
    background-color: #FAFCFB;
    box-sizing: border-box;
}


/*body letf*/

.jp-home-body .jp-home-body-left {
    box-sizing: border-box;
    position: absolute;
    width: 230px;
    height: 100%;
}


/*body right*/

.jp-home-body .jp-home-body-right {
    box-sizing: border-box;
    position: absolute;
    left: 230px;
    right: 0px;
    height: 100%;
}

.jp-home-footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
}


/************************************后台*************************************************/

.jp-menu-item-o.is-active .jp-left-nav-icon-color {
    color: #fff;
}


/*************************************************************************************/


/*************************************************************************************/


/*************************************************************************************/


/*************************************************************************************/


/*************************************************************************************/


/*************************************************************************************/

.change-menu-icon>i {
    transition: transform .4s;
    transform-origin: 50% 50%;
}

.iocn-rotate-l {
    -ms-transform: rotate(180deg);
    transform: rotateZ(180deg)
}

.xing:after {
    display: inline-block;
    color: red;
    vertical-align: middle;
    content: '*';
    color: #ff4949;
    margin-right: 4px;
}

.header-title {
    color: #fff;
    text-shadow: 5px 5px 5px #FF0000;
}

.change-menu-icon {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    z-index: 100;
    color: #20a0ff;
    cursor: pointer;
}

.app-top-nav {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    left: 0;
}

.jp-app-footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
}


/* @media screen and (max-width:1120px) and (min-width:720px){
    .app-left-nav{
      width: 230px;
    }
    .app-container{
      left: 230px;
    }
  }
  @media screen and (max-width:720px){
    .app-left-nav{
      width: 155px;
    }
    .app-container{
      left: 155px;
    }
  }
  @media screen and (max-width:320px){
    .app-left-nav{
      width: 40px;
    }
    .app-container{
      left: 40px;
    }
  } */

.jp-up {
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0 10px;
}

.jp-down {
    position: absolute;
    top: 40px;
    width: 100%;
    bottom: 0px;
    box-sizing: border-box;
    padding: 0 10px;
    overflow-x: auto;
}


/*内容区域*/

.app-container-box {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.app-container-box .box-header {
    text-align: right;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    height: 45px;
}

.app-container-box .box-table {
    position: absolute;
    top: 65px;
    left: 20px;
    right: 20px;
    bottom: 65px;
    overflow: hidden;
}

.app-container-box .box-footer {
    position: absolute;
    height: 45px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    overflow: hidden;
}

.app-container-box .pagination {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    height: 45px;
    box-sizing: border-box;
    padding-top: 10px;
}


/*自定义栅格系统*/

.jp-row {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.jp-col {
    float: left;
    vertical-align: top;
    box-sizing: border-box;
}

.jp-1 {
    width: 5%;
}

.jp-2 {
    width: 10%;
}

.jp-3 {
    width: 15%;
}

.jp-4 {
    width: 20%;
}

.jp-5 {
    width: 25%;
}

.jp-6 {
    width: 30%;
}

.jp-7 {
    width: 35%;
}

.jp-8 {
    width: 40%;
}

.jp-9 {
    width: 45%;
}

.jp-10 {
    width: 50%;
}

.jp-11 {
    width: 55%;
}

.jp-12 {
    width: 60%;
}

.jp-13 {
    width: 65%;
}

.jp-14 {
    width: 70%;
}

.jp-15 {
    width: 75%;
}

.jp-16 {
    width: 80%;
}

.jp-17 {
    width: 85%;
}

.jp-18 {
    width: 90%;
}

.jp-19 {
    width: 95%;
}

.jp-20 {
    width: 100%;
}


/****************************************常用css类***********************************************/

.border {
    border: 1px solid #ccc;
}

.full-parent {
    position: relative;
    height: 100%;
    margin: 0 10px;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
}

.full-parent-height {
    position: absolute;
    height: 100%;
    left: 10px;
    right: 10px;
    width: auto;
}

.line-height-56 {
    line-height: 40px;
}

.pagination-mf {
    margin-top: 4px;
    float: right;
}

.padding-top-13 {
    padding-top: 13px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.pl5 {
    padding-left: 5px
}

.pl10 {
    padding-left: 10px
}

.pl15 {
    padding-left: 15px
}

.pl30 {
    padding-left: 30px
}

.pr10 {
    padding-right: 10px
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.jp-lf {
    float: left
}

.jp-rf {
    float: right
}

.clear {
    clear: both;
}

.fontLv {
    color: #32A525
}

.positionRelative {
    position: relative;
}


/*************************************************伸缩按钮*************************************************/

.open-hide {
    position: absolute;
    top: 40%;
    left: 0;
    cursor: pointer;
    z-index: 500;
}


/*四分之一 上中下布局*/

.jp-top {
    position: absolute;
    top: 0;
    height: 45px;
    width: 100%;
    line-height: 45px;
    box-sizing: border-box;
    padding: 0 15px;
}

.jp-body {
    position: absolute;
    top: 45px;
    width: 100%;
    bottom: 45px;
    box-sizing: border-box;
    padding: 15px;
}

.jp-bottom {
    position: absolute;
    height: 45px;
    width: 100%;
    bottom: 0;
    line-height: 45px;
    box-sizing: border-box;
    padding: 0 15px;
}


/*权限管理树自定义添加span*/

.jp-span-resAuth {
    display: inline-block;
    width: 90%;
    font-size: 12px;
}

.jp-span-resAuth:hover>.jp-span-resBtn {
    display: inline-block;
}

.jp-span-resBtn {
    display: none;
    margin-left: 20px;
}

.jp-span-kpconf {
    display: inline-block;
    width: 100%;
    font-size: 14px;
}

span.jp-span-kpconf:hover>span.jp-span-resBtn {
    /*color: #f00;*/
    display: inline-block;
}

.resTree .el-tree-node__expand-icon {
    vertical-align: 0px;
}


/*学生分班修改element原样式*/

.jp-tabs-divide .el-tabs__header {
    margin-bottom: 0px;
    background: #EEF1F6;
}

.jp-tabs-divide .el-tabs__item {
    height: 40px;
    line-height: 40px;
}

.jp-div-transBox .el-transfer-panel {
    width: 45%;
    height: 100%;
}

.jp-tabs-divide .el-tabs__content {
    position: absolute;
    top: 40px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.jp-tabs-divide .el-tabs__content .el-tab-pane {
    height: 100%;
}

.jp-div-transBox .el-transfer-panel .el-transfer-panel__header {
    height: 40.8px;
    line-height: 45px;
}

.jp-div-transBox .el-transfer-panel .el-transfer-panel__body {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 0px;
    padding-top: 40.8px;
    position: relative;
    top: -40.8px;
}

.jp-div-transBox .el-transfer-panel .el-transfer-panel__body .el-transfer-panel__list {
    height: 100%;
    padding: 6px;
}

.jp-div-transBox .el-transfer-panel .el-transfer-panel__body .el-transfer-panel__filter {
    position: absolute;
    top: -33.4px;
    width: 40%;
    right: 8%;
    margin-top: 0px;
}

.jp-div-transBox .el-transfer-panel .el-transfer-panel__footer {
    height: 40.8px;
    border-top: 0px;
    top: 0px;
    line-height: 40.8px;
    border-bottom: 1px solid #D1DBE5;
    background: #FBFDFF;
}

.jp-div-transBox .el-transfer-panel .el-transfer-panel__footer .el-checkbox {
    padding-left: 26px;
}

.jp-div-transBox .el-transfer-panel .el-transfer-panel__footer .el-checkbox__label {
    display: none;
}

.jp-div-transBox .el-transfer__buttons {
    padding: 0px;
    width: 10%;
    padding-top: 20%;
}

.jp-div-divideImport .el-input__inner {
    padding-right: 27px;
}

.el-submenu__title {
    border-bottom: 1px solid #ddd;
}

.jp-div-transBox .el-transfer-panel:first-child {
    float: right;
}

.jp-div-transBox .el-transfer-panel:last-child {
    float: left;
}


/* 关于 */

.jp-about-top {
    height: 45px;
    line-height: 45px;
}

.jp-about-top .jp-about-logo {
    vertical-align: middle;
}

.jp-about-logo-text {
    font-size: 18px;
    font-weight: bold;
}

.jp-about-cont {
    padding: 20px 0 50px;
}

.jp-about-cont p {
    margin: 0;
    line-height: 25px;
}

.jp-about-cont p span+span {
    display: block;
    margin-left: 70px;
    vertical-align: top;
}

.jp-about-foot {
    line-height: 25px;
    border-top: 1px solid #48576a;
    padding-top: 10px
}


/*表格边框*/

.el-table {
    /* border: 0;  */
}

.el-table::before {
    /* height: 0;  */
}

.el-table::after {
    /* width: 0;  */
}


/*知识点配置增加一级节点*/

.kpTree .el-tree-node__expand-icon {
    vertical-align: 0px;
}

.newNodeForm .el-checkbox:nth-child(1) {
    margin-left: 15px;
}

.newNodeForm .el-checkbox {
    margin-bottom: 8px;
}


/* tabs切换 */

.jp-tabs {
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: #FBFCFC;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.jp-tabs .el-tabs__header {
    margin: 0
}

.jp-tabs .el-tabs__item.is-active {
    color: #20a0ff;
    font-weight: bold
}

.jp-tabs .el-tabs__active-bar {
    background-color: #20a0ff;
    height: 2px;
    bottom: 2px;
}

.jp-tabs-body {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
}


/*应用中心样式*/

.jp-checkBox-appCenter .el-checkbox:nth-child(3) {
    margin-left: 0;
}


/*知识点添加子节点样式*/

.newNodeForm .el-form-item__error {
    padding-left: 17px;
}


/* 修改树结构的边线 */

.el-tree {
    border: none;
}

.jp-condition {
    font-size: 12px;
    font-weight: normal;
    padding-right: 10px;
}


/*课程库中的表单样式*/

.dialogs .el-form-item__label {
    padding: 0;
    line-height: 3;
}

.el-table__row .table-radio .el-radio__label {
    display: none;
}


/*年度学期验证提示*/

.jp-form-sign .el-form-item__error {
    padding-top: 4px;
}


/*导入页面样式*/

.jp-import {
    font-size: 14px;
}

.jp-import .jp-import-title {
    display: block;
    padding: 10px 0;
    font-weight: 700;
    font-size: 15px;
}

.jp-import .jp-import-button,
.jp-import .jp-import-file-name {
    vertical-align: middle;
    height: 30px;
}

.jp-import .jp-import-button {
    margin-left: 15px;
}

.jp-import .jp-import-file-name {
    display: inline-block;
    padding: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.jp-import .jp-import-file-name .fa {
    float: right;
    height: 28px;
    width: 28px;
    line-height: 28px;
    color: #fb9a53;
    text-align: center;
    vertical-align: middle;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #EEF1F6;
    font-size: 16px;
    transition: all 3s;
}

.jp-import .jp-import-file-name:hover .fa {
    text-indent: 2px;
}

.jp-import .jp-import-file-name:hover .fa:before {
    content: "\f115";
}

.jp-import .jp-import-file-name-div {
    display: inline-block;
    float: left;
    min-width: 169px;
    height: 100%;
    line-height: 28px;
    overflow: hidden;
    text-align: left;
    padding: 0px 5px;
}

.jp-import .jp-import-msg {
    height: 200px;
    line-height: 30px;
    overflow-y: auto;
}

.jp-import .jp-import-parms {
    line-height: 30px;
    padding-left: 28px;
}

.jp-import .jp-import-parms .jp-import-parms-body {
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}

.jp-import .jp-import-parms .jp-import-parms-body .jp-import-parms-body-header,
.jp-import .jp-import-parms .jp-import-parms-body .jp-import-parms-body-footer {
    padding: 7px 10px;
}

.jp-import .jp-import-parms .jp-import-parms-body .jp-import-parms-body-body {
    border-top: 1px solid #bfcbd9;
    border-bottom: 1px solid #bfcbd9;
    padding: 10px;
}

.jp-import .jp-import-msg .jp-import-msg-div {
    padding-left: 2em;
}

.jp-import .jp-import-msg .jp-import-msg-div .fail,
.jp-import .jp-import-msg .jp-import-msg-div .success,
.jp-import-info .jp-import-info-node .fa {
    font-size: 16px;
    vertical-align: top;
    display: inline-block;
    line-height: 30px;
    width: 25px;
    text-align: left;
    color: green;
    font-family: element-icons!important;
}

.jp-import .jp-import-msg .jp-import-msg-div .fail {
    color: red;
}

.jp-import .jp-import-msg .jp-import-msg-div .success:before {
    content: "\E609";
}

.jp-import .jp-import-msg .jp-import-msg-div .fail:before {
    content: "\E60B";
}

.jp-import .jp-import-info {
    line-height: 30px;
    padding-left: 2em;
}

.jp-import .jp-import-info .jp-import-info-node .fa {
    color: #fb9a53;
}

.jp-import .jp-import-info .jp-import-info-node .fa:before {
    content: "\E615";
}


/*ip段错误提示*/

.jp-form-ip .el-form-item__error {
    padding-top: 4px;
}


/*年度学期错误提示*/

.dateForm .el-form-item__error {
    padding-top: 4px;
}


/* 课程库 */

.jp-courses-dialog .el-table__body-wrapper .cell {
    padding: 0px 5px;
}

.jp-courses-dialog .el-table__body-wrapper .cell .el-form-item,
.jp-courses-dialog .el-table__body-wrapper .cell .el-form-item__content {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-bottom: 0px;
}

.jp-courses-update-dialog .el-form-item__error {
    padding: 0px;
}

.fa {
    font-size: 16px;
}

.cp {
    cursor: pointer;
}

.vam {
    vertical-align: middle;
}

.ztree.jp-course-tree li span.button.course_type:before,
.ztree.jp-course-tree li span.button.ico_close.course_type:before {
    content: "\f114";
    font-size: 16px;
}

.ztree.jp-course-tree li span.button.ico_open.course_type:before {
    content: "\f115";
    font-size: 16px;
}

.ztree.jp-course-tree li span.button.course:before,
.ztree.jp-course-tree li span.button.ico_close.course:before,
.ztree.jp-course-tree li span.button.ico_open.course:before {
    content: "\f0f6";
    font-size: 16px;
}

.ztree.jp-course-tree li span.button.ico_docu.course:before {
    content: "\f016";
    font-size: 16px;
}


/* 学生分班穿梭组件按钮 */

.jp-div-transBox .el-transfer {
    height: 100%;
    position: relative;
}

.jp-div-transBox .el-transfer__buttons .el-button:first-child {
    position: relative;
    top: 37px;
    margin-bottom: 0px;
}

.jp-div-transBox .el-transfer__buttons .el-button:last-child {
    position: relative;
    top: -37px;
}

.jp-div-transBox .el-transfer__buttons .el-icon-arrow-right:before {
    content: "\E601";
}

.jp-div-transBox .el-transfer__buttons .el-icon-arrow-left:before {
    content: "\E602";
}


/*dialog里的表单验证*/

.jp-dialog .el-form-item__error {
    padding-top: 1px;
}